<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="com.maven.POMworking">
 
    <test name="xmlCheck1">
        <classes>
            <class name="com.maven.POMworking.SecondClass"></class>
            <!--  class name="com.maven.POMworking.POM"></class>-->
        </classes>
    </test>
</suite> <!-- Default suite -->